JWT_SECRET_KEY=
DATABASE_URL=
REDIS_URL=redis://redis:6379/0
FRONTEND_URL=nginx
PUBLIC_BACKEND_URL=backend
LLM_BASE_URL=http://host.docker.internal:11434/v1
LLM_API_KEY=dummy
LLM_MODEL=OxW/Saiga_YandexGPT_8B:q4_K_M